body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.header{
    display: flex;
    align-items: baseline;
    padding: 9.5px;
    box-sizing: border-box;
}
div{
    display: inline-block;
}
.lheader{
    flex-grow: 1;
}
.about{
    margin-left: 15px;
}
.lheader_links{
    padding: 5px;
    margin: 0 5px;
    color: #222;
}
.right_links{
    padding: 0 15px;
    display: inline-block;
    text-decoration: none;
}
.rlink{
    padding-right: 7px;
    
}
span{
    align-items: baseline;
    position: relative;
    top: 7px; 
    padding: 7px;
}
.signin{
    background: #1a73e8;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding: 9px 23px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 8px;
}
.rlink_color{
    color: rgba(0,0,0,0.87);
    font-family: arial, sans-serif;
    font-size: 13px;
}
span:hover{
    border: 1px solid transparent;
    border-radius: 50%;
    background: #dcdcdc;
}
.signin:hover{
    box-shadow: 0.5px 0.5px 2px 0.2px #1a73e8;
    opacity: 0.95;
    text-decoration: none;

}
/* Body */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.search_bar{
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 41px;
    width: 559px;
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    margin-bottom: 12px;

}
.search_bar:hover{
    box-shadow: 0 1px 4px 1px rgba(32, 33, 36, 0.28);
    
}

.s_loop{
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-bottom: 7px;
}
.s_loop svg{
    height: 20px;
    width: 20px;
    fill: #9aa0a6;
}
.gicon{
    margin-top: 195px;
    max-height: 92px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
input{
    width: 487px;
    height: 34px;
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
}
._s_mic{
    display: flex;
    align-items: center;
    height: 100%;


}
.s_mic svg{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: 7px;
}
button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    outline: none;
}
button:hover{
    box-shadow: 0 1px 05px rgba(0,0,0,0.2);
    background-color: #f8f8f8;
    border: 0.3px solid #c6c6c6;
    color: #222;
}
.buttons{
    flex-grow: 2;
}
/* Footer */

.zebi{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
    
}
.foot{
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border-top: 1px solid #e4e4e4;
    box-sizing: border-box;
    
}
.foot_link{
    display: inline;
    padding: 15px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: #70757a;
}

